@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    width: 200px;
  }
  
  .menu-button:hover + .dropdown-menu {
    display: block;
  }
  
.menu-button{
    color: white;
}